@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --Black: #1e1f28;
    --Red: #f80834;
    --white: #f1f9f5;
    --btn-white: #f1f9f5;
    --card-background: rgba(255,255,255,0.1);
    --card-background-course: #3f3f3f;
    --card-hover-background: rgba(255,255,255,0.2);
    --Font-Family: 'Inter', sans-serif;
    --Open-sans: 'Open Sans', sans-serif;
    --card-course-background: #f80834;
    --card-course-background-hover: #fb365a;
    --course-color: #fff;
}
.light-theme{
    --course-color: #fff;
    --btn-white: #f1f9f5;
    --Black: #fff;
    --Red: #f80834;
    --card-background-course: #dfdfdf;
    --card-hover-background: #fff;
    --card-course-background: #f80834;
    --card-course-background-hover: #fb365a;
    --card-background: #f1f9f5;
    --white: #1e1f28;
    --Font-Family: 'Inter', sans-serif;
    --Open-sans: 'Open Sans', sans-serif;
}

*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--Black);
}

.h-11vh{
    height: 11vh;
}
.h-13vh{
    height: 13vh;
}

.h-15vh{
    height: 15vh;
}

.h-20vh{
    height: 20vh;
}
.h-25vh{
    height: 25vh;
}
.h-30vh{
    height: 30vh;
}
.h-40vh{
    height: 40vh;
}
.h-50vh{
    height: 50vh;
}
.h-60vh{
    height: 60vh;
}
.h-75vh{
    height: 75vh;
}
.h-80vh{
    height: 80vh;
}
.h-89vh{
    height: 89vh;
}


.h-89vh-page-one-logo{
    height: 89vh;
}
.h-40vh-page-two{
    height: 25vh;
}
.h-40vh-page-three{
    height: 35vh;
}
.h-50vh-lg{
    height: 34vh;
}
/*This is Navbar Styling*/
.mynavbar{
    background-color: var(--Black);
}

.container-fluid{
    background-color: var(--Black);
}

.dh-brand{
    font-family: var(--Open-sans);
    font-size: 17px;
    font-weight: 600;
    color: var(--white);
}

.dh-logo{
    transform: scale(.7);
}


.navbar-links > a{
    text-decoration: none;
    font-family: var(--Open-sans);
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    position: relative;
    transition: .3s ease-in;
}
.navbar-links > a::before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0px;
    height: 3px;
    margin-top: 33px;
    border-radius: 10px;
    background: var(--Red);
    transition: .5s ease-in-out;
}

.navbar-links > a:hover{
    color: var(--Red);
}

.navbar-links > a:hover::before{
    width: 100%;
}

.contact-me{
    text-decoration: none;
}
.phone:hover{
    color:var(--Red);
}

.phone{
    padding-top: 15px;
    font-family: var(--Open-sans);
    font-weight: 600;
    font-size: 15px;
    color: var(--white);
    cursor: pointer;
}

.phone > span{
    font-size: 13px;
    font-weight: 500;
    color: var(--Red);
}
.phone > span:hover{
    text-decoration: underline;
}

.page-one{
    font-family: var(--Open-sans);
    font-size: 30px;
    font-weight: 700;
    color: var(--Red);
    position: relative;
}
.page-one::before{
    position: absolute;
    content: '';
    top: 39px;
    right: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--Red);
}
.page-one::after{
    content: '06';
    position: absolute;
    top: 41px;
    right: 0;
    font-family: var(--Open-sans);
    font-size: 22px;
    font-weight: 700;
    color: var(--white);
}

/*End of styling navbar*/

/*Change theme*/
.change-icon{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid var(--white);
    background-color: var(--white);
    transition: .3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}
.change-icon:hover{
    color: var(--Red);
}
.icons > .sun-icon{
    color: var(--Black);
    cursor: pointer;
}
.icons > .moon-icon{
    color: var(--Black);
    cursor: pointer;
}

/*End of Change theme*/


/*Page one*/
.brand-name > h5{
    writing-mode: tb-rl;
    text-orientation: sideways;
    color: var(--white);
    transform: rotate(180deg);
    font-family: var(--Open-sans);
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--Red);
    font-weight: 600;
    position: relative;
}
.brand-name > h5::before{
    position: absolute;
    content: '';
    top: -120px;
    left: 10px;
    width: 3px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--Red);
}
.info{
    color: var(--white);
}
.info > h2{
    font-family: var(--Open-sans);
    font-size: 40px;
    font-weight: 700;
}
.info >  h5{
    font-family: var(--Open-sans);
    font-size: 29px;
    font-weight: 500;
    letter-spacing: 2px ;
    position: relative
}
.info > h5::before{
    position: absolute;
    content: '';
    bottom: -18px;
    left: 0;
    width: 40%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--Red);
}
.info > p{
    font-family: var(--Open-sans);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
}
.info > .page-one-btn{
    width: 170px;
    height: 50px;
    border: 2px solid var(--Red);
    background-color: var(--Red);
    font-family: var(--Open-sans);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--btn-white);
    border-radius: 10px;
    transition: .4s ease-in-out;
}
.info > .page-one-btn:hover{
    background: none;
    color: var(--white);
}
.dh-logo2{
    transform: scale(.8);
}
/*End of Page One info*/

/*Page two info*/
.title > h2{
    font-family: var(--Open-sans);
    font-size: 35px;
    font-weight: 600;
    color: var(--white);
    position: relative;
}
.title > h2::before{
    position: absolute;
    display: block;
    content: '';
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    background: var(--Red);
}
.title-span{
    z-index: 1;
}

.title > p{
    font-family: var(--Open-sans);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    color: var(--white);
    position: relative;
}

.title > p::before{
    position: absolute;
    content: '';
    bottom: -13px;
    left: 0;
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--Red);
}

.card{
    background: var(--card-background) !important;
}
.card:hover{
    background: var(--card-hover-background) !important;
}
.card-lg{
    cursor: pointer;
    position: relative;
    transition: .2s ease-in-out;
}

.card-lg::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 10px;
    background-color: var(--Red);
    transition: .7s ease-in-out;
}
.card-lg:hover::before{
    width: 100%;
}

.card > .card-body > .icon-computer{
    font-size: 32px;
    color: var(--white);
}
.card > .card-body > .card-title{
    color: var(--white);
    font-family: var(--Open-sans);
    font-size: 22px;
    font-weight: 700;
    position: relative;
}
.card > .card-body > .card-title::before{
    position: absolute;
    display: block;
    content: '';
    width: 50px;
    height: 4px;
    left: 0;
    bottom: -9px;
    border-radius: 10px;
    background: var(--Red);
}
.card > .card-body > .card-text{
    font-family: var(--Open-sans);
    font-size: 15px;
    color: var(--white);
    font-weight: 600;
}
.card > .card-body > .card-btn{
    width: 130px;
    height: 45px;
    border: 2px solid var(--Red);
    background-color: var(--Red);
    font-family: var(--Open-sans);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--btn-white);
    border-radius: 10px;
    transition: .4s ease-in-out;
    padding: 5px;
}
.card > .card-body > .card-btn:hover{
    background: none;
    color: var(--white);
}
.card > .card-body > .card-btn-right{
    color: var(--white);
    cursor: pointer;
    transition: .3s ease;
}
.card > .card-body > .card-btn-right:hover{
    color: var(--Red);
}
.card-sm{
    position: relative;
    transition: .6s ease-in-out;
    cursor: pointer;
}
.card-sm::before{
    content: '';
    position: absolute;
    top: 10px;
    border-radius: 10px;
    left: 0;
    width: 5px;
    height: 0px;
    background-color: var(--Red);
    transition: .7s ease-in-out;
}
.card-sm:hover::before{
    height: 47px;
}
/*End of Page two info*/

/*Page three info*/
.title > div{
    font-family: var(--Open-sans);
    font-size: 35px;
    font-weight: 600;
    color: var(--white);
    position: relative;
}
.title > div::before{
    position: absolute;
    display: block;
    content: '';
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    background: var(--Red);
}
.title-span{
    z-index: 1;
}

.title > p{
    font-family: var(--Open-sans);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    color: var(--white);
    position: relative;
}

.title > p::before{
    position: absolute;
    content: '';
    bottom: -13px;
    left: 0;
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--Red);
}
.course{
    font-family: var(--Open-sans);
    font-size: 25px !important;
    font-weight: 700;
    color: var(--course-color) !important;
}
.box-icon{
    font-size: 25px;
    color: var(--course-color);
}
.card-course{
    background: var(--card-course-background) !important;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.card-course:hover{
    background: var(--card-course-background-hover) !important;
}
.card-course::before{
    overflow: hidden;
    position:absolute;
    content: 'Lorem Ipsum is simply dummy text of the printing andtypesetting industry. Lorem Ipsum has been  the';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--card-background-course);
    text-align: center;
    font-family: var(--Open-sans);
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    line-height: 30px;
    padding: 60px 8px 0px 8px;
    border: 1px solid var(--card-background-course);
    transition: .7s ease-in-out;
    transform: translateY(253px);
}
.card-course:hover::before{
    transform: translateY(0px);
}

/*End of page three info*/

@media screen and (max-width: 780px) {
    .mynavbar-links{
        display: none;
    }
    .mycontact-links{
        display: none;
    }
    .mypage-one{
        display:none;
    }
    .h-89vh-page-one-logo{
        height: 60vh;
    }
    .h-40vh-page-two{
        height: 50vh;
    }
    .h-50vh-lg{
        height: 50vh;
    }
    .h-50vh-lg{
        height: 30vh;
    }
}

@media screen and (max-width: 380px) {
    .mynavbar-links{
        display: none;
    }
    .mycontact-links{
        display: none;
    }
    .mypage-one{
        display:none;
    }
    .h-89vh-page-one-logo{
        height: 60vh;
    }
    .h-40vh-page-two{
        height: 50vh;
    }
    .h-50vh-lg{
        height: 30vh;
    }
}